<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core">

<h:head>
	<title>Medien hinzufügen</title>
	<style type="text/css">
.ui-widget {
	font-size: 90%;
}
</style>
</h:head>

<h:body>
<h:form>
 <h3 style="margin-top:0">Medium hinzufügen</h3>
    <h:panelGrid columns="2" style="margin-bottom:10px" cellpadding="5">
        <p:outputLabel for="mediaType" value="MediaType" />
        <p:selectOneRadio id="mediaType" value="#{menueView.mediaType}">
            <f:selectItem itemLabel="book" itemValue="book" />
            <f:selectItem itemLabel="dvd" itemValue="dvd" />
            <f:selectItem itemLabel="blueray" itemValue="BlueRay" />
        </p:selectOneRadio>
    </h:panelGrid>
    <p>Title</p>
	</h:form>
</h:body>

</html>