<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">

<h:head>
	<title>Medien</title>
	<style type="text/css">
.ui-widget {
	font-size: 90%;
}
</style>
</h:head>

<h:body>
	<h1>Media Management System by Natalie Wenz</h1>
	<h:form>
		<p:growl id="messages" showDetail="true" />
		<p:menuButton value="Optionen">
			<p:menuitem value="Neu" action="#{menueView.add}"
				update="messages" icon="ui-icon-disk" />
			<p:menuitem value="Bearbeiten" actionListener="#{menueView.update}"
				update="messages" icon="ui-icon-arrowrefresh-1-w" />
			<p:menuitem value="Entfernen" actionListener="#{menueView.delete}"
				ajax="false" icon="ui-icon-close" />
		</p:menuButton>
	</h:form>
	<h2>Verfügbare Medien</h2>
	<p:dataTable var="car" value="#{dfMediaView.media}">
		<p:column headerText="Id">
			<h:outputText value="#{media.id}" />
		</p:column>

		<p:column headerText="Titel">
			<h:outputText value="#{media.title}" />
		</p:column>

		<p:column headerText="Autor">
			<h:outputText value="#{media.author}" />
		</p:column>

		<p:column headerText="Veröffentlicht">
			<h:outputText value="#{media.publishedDate}" />
		</p:column>
	</p:dataTable>
</h:body>

</html>