<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core">
<h:head>
	<title><h:outputText value="Medienverwaltung"></h:outputText></title>
</h:head>
<h:body>
</h:body>
<h:form>
	<h:panelGrid columns="2">
		<f:facet name="header">
			<h:outputText value="Login" />
		</f:facet>
		<h:outputLabel value="Benutzername" />
		<h:inputText value="#{registerController.user.email}"></h:inputText>
		<h:outputLabel value="Passwort" />
		<h:inputSecret value="#{registerController.user.password}"></h:inputSecret>
		<h:commandButton action="#{loginController.login}"
			value="Einloggen"></h:commandButton>
		<h:outputText>Noch kein Account?</h:outputText>
		<h:commandButton action="/register.xhtml" value="Registrieren"/>	
	</h:panelGrid>
</h:form>

</html>
